apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: awxs.awx.ansible.com
spec:
  group: awx.ansible.com
  names:
    kind: AWX
    listKind: AWXList
    plural: awxs
    singular: awx
  scope: Namespaced
  versions:
    - name: v1beta1
      served: true
      storage: true
      schema:
        openAPIV3Schema:
          type: object
          properties:
            spec:
              type: object
              properties:
                admin_user:
                  type: string
                  default: admin
                admin_email:
                  type: string
                  default: admin@localhost
                admin_password_secret:
                  type: string
                image:
                  type: string
                image_version:
                  type: string
                  default: "24.6.1"
                image_pull_policy:
                  type: string
                  default: IfNotPresent
                  enum:
                    - Always
                    - Never
                    - IfNotPresent
                service_type:
                  type: string
                  default: ClusterIP
                  enum:
                    - ClusterIP
                    - NodePort
                    - LoadBalancer
                ingress_type:
                  type: string
                  default: none
                  enum:
                    - none
                    - ingress
                    - route
                hostname:
                  type: string
                web_replicas:
                  type: integer
                  default: 1
                  minimum: 1
                task_replicas:
                  type: integer
                  default: 1
                  minimum: 0
                postgres_storage_class:
                  type: string
                postgres_storage_requirements:
                  type: object
                  properties:
                    requests:
                      type: object
                      properties:
                        storage:
                          type: string
                          default: 8Gi
            status:
              type: object
              properties:
                conditions:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                      status:
                        type: string
                      reason:
                        type: string
                      message:
                        type: string
                      lastTransitionTime:
                        type: string
                version:
                  type: string
                image:
                  type: string
                url:
                  type: string
      subresources:
        status: {}
      additionalPrinterColumns:
        - name: Version
          type: string
          jsonPath: .status.version
        - name: Status
          type: string
          jsonPath: .status.conditions[?(@.type=='Ready')].status
        - name: Age
          type: date
          jsonPath: .metadata.creationTimestamp
