name: Rebase release_4.6-next and stable-2.6

on:
  push:
    branches:
      - release_4.6
  workflow_dispatch:
    # Allows manual triggering of the workflow from the GitHub UI

jobs:
  rebase:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout stable-2.6 branch
        uses: actions/checkout@v4
        with:
          ref: stable-2.6
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Fetch release_4.6 branch for rebase
        run: git fetch origin release_4.6:release_4.6

      - name: Attempt Rebase release_4.6 into stable-2.6
        id: rebase_attempt
        run: |
          git config user.name "GitHub Actions"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git checkout stable-2.6
          git rebase release_4.6

      - name: Force Push Rebased stable-2.6 Branch
        run: |
          git push --force origin stable-2.6
